@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color-accent: #aa1f1b;
$color-hover: rgba(255, 255, 255, 0.6);
$color-shadow: rgba(0, 0, 0, 0.6);

@mixin flexible() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin boxShadow() {
    box-shadow: 0 2px 5px $color-shadow;
}

a {
    color: $color-accent;
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

html {
    @include flexible();
    height: 100%;
    padding: 40px;
    background: url('../img/bg_main.webp') no-repeat 50% 50%;
    background-attachment: fixed;
}

body {
    @include boxShadow();
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}

.header {
    @include flexible();
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 20px 20px 0 0;
    min-height: 60px;
    background: $color-shadow;
    &__logo {
        margin-top: -7px;
        transition: all 0.3;
        img {
            width: 40%;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__phone {
        font-size: 120%;
        letter-spacing: 1px;
        text-shadow: 0 1px 3px $color-shadow;
        &_prefix {
            color: $color-hover;
            padding-right: 5px;
            font-size: 80%;
        }
    }
}

.app {
    @include flexible();
    align-items: flex-start;
    &__panel {
        @include flexible();
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 60px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 0 0 0 20px;
        .menu__list {
            @include flexible();
            flex-direction: column;
            gap: 5px;
            .menu__item {
                @include flexible();
                background-color: $color-hover;
                width: 60px;
                height: 60px;
                &:hover,
                &_active {
                    background-color: $color-accent;
                }
                img {
                    width: 30px;
                    transition: all 0.3s;
                }
                &:hover img,
                &_active img {
                    filter: brightness(0) invert(1);
                    transform: scale(1.1);
                }
            }
        }

        .add-btn {
            @include flexible();
            width: 100%;
            padding: 20px 0;
            img {
                width: 30px;
                height: 30px;
                opacity: 0.5;
                transition: all 0.3s;
            }
            &:hover img {
                filter: brightness(0) invert(1);
                opacity: 1;
            }
        }
    }
    &__content {
        flex: 0 0 calc(100% - 60px);
        height: 100%;
        padding: 20px 40px;
        .title-line {
            @include flexible();
            justify-content: space-between;
            &__title {
                flex: 1 0 60%;
                text-transform: uppercase;
                margin: 0;
                position: relative;
                &::after {
                    content: '';
                    width: 100px;
                    height: 2px;
                    background-color: $color-hover;
                    border-radius: 3px;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                }
            }
            &__progress {
                flex: 1 0 40%;
            }
            .progress {
                &__text {
                    @include flexible();
                    justify-content: space-between;
                    gap: 20px;
                    font-size: 12px;
                    font-style: italic;
                    margin-bottom: 5px;
                }
                &__bar {
                    width: 100%;
                    height: 8px;
                    background-color: $color-hover;
                    border-radius: 3px;
                    position: relative;
                }
                &__line {
                    position: absolute;
                    height: 100%;
                    background-color: $color-accent;
                    border-radius: 3px;
                    transition: all 0.3s;
                }
            }
        }
        main {
            padding: 40px 0;
            @include flexible();
            flex-direction: column;
            gap: 10px;
        }
        .habit {
            @include flexible();
            flex-direction: column;
            gap: 10px;
            width: 100%;
            &__item {
                @include flexible();
                width: 100%;
                min-height: 40px;
                justify-content: space-between;
                padding: 10px 20px;
                background-color: $color-shadow;
                border-radius: 5px;
            }
            &__day {
                @include flexible();
                width: 80px;
                padding-right: 10px;
                border-right: 1px solid $color-hover;
            }
            &__comment {
                width: 100%;
                padding: 0 20px;
            }
            &__add {
                @include flexible();
                min-height: 40px;
                justify-content: space-between;
                padding: 10px 20px;
                background-color: $color-shadow;
                border-radius: 5px;
                width: 100%;
            }
            &__form {
                @include flexible();
                justify-content: space-between;
                width: 100%;
                padding-left: 20px;
                input {
                    width: calc(100% - 70px);
                    font-style: italic;
                    padding: 0 10px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    &.error {
                        border-color: #aa1f1b;
                    }
                    &:focus-visible {
                        outline: none;
                    }
                }
            }
            &__delete {
                @include flexible();
                width: 45px;
                padding-left: 20px;
                border-left: 1px solid $color-hover;
                img {
                    filter: brightness(0) invert(1);
                    transition: all 0.3s;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
            .input__icon {
                width: 100%;
                background-color: $color-hover;
                border: 0;
                font-size: 12px;
                padding: 3px 10px;
                border-radius: 5px;
                color: $color-shadow;
                font-style: italic;
                &:focus-visible {
                    outline: 0;
                }
            }
        }
    }
}

.cover {
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    &_hidden {
        display: none;
        opacity: 0;
    }
    .popup {
        max-width: 320px;
        width: 100%;
        padding: 30px;
        background-color: #1e1e1e;
        border-radius: 20px;
        @include boxShadow();
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h2 {
            margin: 0;
            position: relative;
            &::after {
                content: '';
                width: 100px;
                height: 2px;
                background-color: $color-hover;
                border-radius: 3px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -5px;
            }
        }
        .icon-select {
            @include flexible();
            gap: 10px;
            flex-wrap: wrap;
            .icon {
                @include flexible();
                border-radius: 5px;
                padding: 5px;
                &_active {
                    background-color: $color-accent;
                }
            }
            img {
                width: 30px;
                filter: brightness(0) invert(1);
                transition: all 0.3s;
            }
            &:hover img,
            &_active img {
                filter: brightness(0) invert(1);
                transform: scale(1.1);
            }
        }
        .popup__form {
            @include flexible();
            width: 80%;
            flex-direction: column;
            gap: 10px;
            input {
                width: 100%;
                padding: 5px 20px;
                font-style: italic;
                &:focus-visible {
                    outline: none;
                }
            }
            .button {
                margin-top: 20px;
                padding: 10px 20px;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 1px;
                background-color: $color-accent;
                border-radius: 10px;
                @include boxShadow();
                transition: all 0.3s;
                &:hover {
                    color: #000;
                    background-color: #fff;
                }
            }
        }
        .close {
            padding: 0;
            position: absolute;
            top: -5px;
            right: -5px;
            width: 30px;
            height: 30px;
            transform: rotate(45deg);
            transition: all 0.3s;
            &:hover {
                transform: rotate(135deg);
            }
            img {
                width: 30px;
                filter: brightness(0) invert(1);
                transition: all 0.3s;
            }
        }
    }
}
